[submodule "external/libcotp"]
	path = external/libcotp
	url = https://github.com/paolostivanin/libcotp.git
[submodule "external/libphysis"]
	path = external/libphysis
	url = https://git.sr.ht/~redstrate/libphysis
[submodule "external/kdsingleapplication"]
	path = external/kdsingleapplication
	url = git@github.com:KDAB/KDSingleApplication.git
