[submodule "external/libcotp"]
	path = external/libcotp
	url = https://github.com/redstrate/libcotp.git
[submodule "external/libphysis"]
	path = external/libphysis
	url = ../libphysis
[submodule "external/kdsingleapplication"]
	path = external/kdsingleapplication
	url = https://github.com/KDAB/KDSingleApplication.git
