# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023 Joshua Goins <josh@redstrate.com>
[Desktop Entry]
Name=Astra
GenericName=FFXIV Launcher
Comment=Linux launcher for FFXIV
Exec=astra %u
Terminal=false
Icon=zone.xiv.astra
Type=Application
Categories=X-Games;
X-KDE-FormFactor=desktop;tablet;
SingleMainWindow=true