# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023 Joshua Goins <josh@redstrate.com>
[Desktop Entry]
Name=Astra
GenericName=FFXIV Launcher
Comment=Play FFXIV
Exec=astra %u
Terminal=false
Icon=zone.xiv.astra
Type=Application
Categories=Game;
X-KDE-FormFactor=desktop;tablet;
SingleMainWindow=true
